# put this in your ~/.wakatime.cfg file

[settings]
api_url = https://hackatime.hackclub.com/api/hackatime/v1
api_key = 64ed6a64-825e-4b24-b6d4-b0ef9cd3ce80
heartbeat_rate_limit_seconds = 30

# any other wakatime configs you want to add: https://github.com/wakatime/wakatime-cli/blob/develop/USAGE.md#ini-config-file